{% extends 'layout.html' %} {% block content %}
<!---->

<div class="row">
  <div class="col m-5">
    <h3>Статусы</h3>
    {% for status in statuses%}
    <p>
      <a
        href="{% url 'statuses:edit' status.pk %}"
        class="text-decoration-none"
        title="Изменить"
        >✏️</a
      >
      <a
        href="{% url 'statuses:delete' status.pk %}"
        class="text-decoration-none"
        title="Удалить"
        >🗑</a
      >
      {{status}}
    </p>
    {% empty %}
    <p>Статусов пока нет</p>
    {%endfor%}
    <a class="btn btn-dark" href="{% url 'statuses:create'%}"
      >Добавить статус</a
    >
  </div>

  <div class="col m-5">
    <h3>Типы</h3>
    {% for type in types%}
    <p>
      <a
        href="{% url 'types:edit' type.pk %}"
        class="text-decoration-none"
        title="Изменить"
        >✏️</a
      >
      <a
        href="{% url 'types:delete' type.pk %}"
        class="text-decoration-none"
        title="Удалить"
        >🗑</a
      >
      <a href="{% url 'types:detail' type.pk%}">{{type}}</a>
    </p>
    {% empty %}
    <p>Типов пока нет</p>
    {%endfor%}

    <a class="btn btn-dark" href="{% url 'types:create'%}">Добавить тип</a>
  </div>
</div>
{% endblock %}
